/* is selecting everything on page */
*{
    margin:0;
    /* border: blue 3px solid; */
}

body{
    background-color: grey;
}

/* settings for people that have stated that they want reduced motion */
@media (prefers-reduced-motion){
    body{
        background-color: rgb(230, 20, 20);
    }
    .wrapper{
        background-image: url("moon-static.jpg");
    }
}
/* settings for the background if the person has not set a motion preference, meaning they are fine with motion */
@media (prefers-reduced-motion:no-preference){
    body{
        background-color: greenyellow;
    }
    .wrapper{
        background-image: url("pastel-moon.gif");
    }
}

/* Settings for the wrapper, regardless of motion settings */
.wrapper{
    /* background-image: url("pastel-moon.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: min(100% - 3rem, 65ch);
    height: min(100vh - 6rem);
    margin-top:3em;
    margin-inline: auto;
    border: orange 3px solid;

}

.text-wrapper{
    /* margin-bottom:1em; */
    position:absolute;
    bottom:0;
}

@media only screen and (min-width: 1200px) {
    .wrapper {
      background-color: lightblue;
      height: min(60vh);
      margin-top:6em;
      margin-top:6em;
    }
  }
